/* Font */
@import "./css/fonts.css";
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+AC00-D7A3; /* 한글 */
}
/* reset css */
@import "./css/reset.css";

/* Universal tags*/
* {
  box-sizing: border-box;
}

body {
  font-family: "CabinetGrotesk-Variable", "IBMPlexSansKR-Regular", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  margin: 0;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
